body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('ci.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container {
    text-align: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    
}
.animal-buttons button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.animal-buttons button:hover {
    background-color: #45a049;
}
#animal-description {
    margin-top: 20px;
    font-size: 1.1em;
    color: #333;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}
#animal-image {
    margin-top: 15px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    max-height: 200px;
    object-fit: cover;
    display: none;
}

